.container{
    display: flex;
}
img{
    width:300px;
}
hr{
    align:center;
    margin: 30px 0 30px 0;
}
h2{
    color: rgb(219, 81, 104);
    font-size: 25px;
    text-align: center;
}
.text-font{
    background-color: rgb(219, 88, 110);
    color: #ffffff;
}
.copyright{
    background-color: pink;
    height: 40px;
    margin-left: 60px;
}
u{
    color: blue;
}